= render :layout => "bs_admin/fields/wrapper_for_input", :locals => { :f => f, :field_name => field_name, :options => options } do
  label.read-only.full-width= bs_display type, f.object.send(field_name), options