= form_for [:admin, @model], url:  @url, html: { :class => 'form-horizontal' } do |f|
  = render partial: "bs_admin/meta_partials/form_fields", locals: { f: f, form_action: form_action }
  = bs_actions f, bs_admin.meta_index_path(@meta.base_path)
