.image-upload-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  > * {
    margin-right: 5px;
  }
}

.image-upload-images {  
  .thumb { 
    background-position: center;
    width: 140px;
    height: 100px;
    background-size: cover;    
    display: inline-block; 
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    input, span {
      position: absolute;
      top: -4px;
      right: -1px;
    }   
    span { top: -1px; }
  }
}

.image-upload-remove-selected {
  padding-left: 0px;
}