body {
  padding-top: 50px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; 
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
  li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
 .active > a {
    color: #fff;
    background-color: #428bca;
  }
}

.main {
  padding-right: 40px;
  padding-left: 40px;
  .page-header { margin-top: 0; }
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
  h4 { margin-bottom: 0; }
}
.placeholder {
  margin-bottom: 20px;
  img {
    display: inline-block;
    border-radius: 50%;
  }
}

li.nav-header {
  font-size: 14px;
  margin-left: 10px;
  padding-top: 10px;
  color: grey;
  border-bottom: 1px grey solid;
}

.paginator {
  float: right;
}

.header-buttons {
  text-align: right;
  a {
    margin-top: 20px;
  }
}

.page-header {
  padding-bottom: 0px;
}

.filters {
  label {
    margin-top: 6px;
  }
}
// .search-row {
  // margin-bottom: 8px;
// }

td.links {
  width: 140px;
  .btn {
    margin-right: 3px;
    margin-bottom: 3px;
  }
}

.rotate-90 {
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.drag {
  cursor: ns-resize;
}

label.read-only {
  font-weight: normal;
  padding-top: 7px;
}