input  id="fileupload" type="file" name="asset[file][]" multiple="" get-images-url="/admin/assets/get" destroy-images-url="/admin/assets/destroy" data-url="#{bs_admin.assets_path}" data-group=("all" ) 


