-if options[:edit]
  =link_to "Edit", options[:edit], :class => 'btn btn-primary'
-if options[:delete]
  = link_to "Delete", options[:delete], :method => :delete, :data => { :confirm => "Are you sure?" }, :class => 'btn btn-danger'
