= render :layout => "bs_admin/fields/wrapper_for_input", :locals => { :f => f, :field_name => field_name, :options => options } do
  = f.date_select field_name, start_year: Time.now.year - 50, end_year: Time.now.year + 50
