= render :layout => "bs_admin/fields/wrapper_for_input", :locals => { :f => f, :field_name => field_name, :options => options } do
  = f.text_field "#{field_name.to_s.singularize}_list", :class => 'form-control'
  p.help-block.permalink-help-block use coma to separate tags ex: tag1, tag2, tag3
