= render :layout => "bs_admin/fields/wrapper_for_input", :locals => { :f => f, :field_name => field_name, :options => options } do
  = f.text_area field_name, :class => 'form-control summernote', :rows => options[:size]
